body {
    background-color: #FCFFF5;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333333;
}

h1 {
    margin-top: 6rem;
    margin-bottom: 5rem;
}

.subheading {
    margin-bottom: 20px;
    text-align: center;
}

.container {
    width: auto !important;
}

.row {
    padding: 0;
    margin: 0;
}

.btn-primary {
    background-color: #193441;
    border: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #3E606F;
    border: none;
}

#results {
    margin-top: 40px;
    margin-bottom: 40px;
}

#app {
    display: block;
    background: #D1DBBD;
    position: relative;
    max-width: 800px;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    margin: 60px auto;
    overflow: hidden;
    min-height: 600px;
}

.result {
    display: block;
    min-height: 130px;
}

.result__left {
    padding: 28px;
    min-height: 130px;
}

.result__right {
    background-color: #eee;
}

.resultinfo {
    width: 100%;
    background-color: #577D7D;
    padding: 30px;
    color: #FCFFF5;
}

.result__left svg {
    top: 7px;
    position: relative;
}

.result__left svg path {
    fill: #eee;
}

.result__name {
    padding: 45px;
    min-height: 110px;
}

.result__right::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 1rem;
    height: 100%;
}

.hot-match-start {
    background-color: #91AA9D;
}
.hot-match-end::after {
    background-color: #91AA9D;
}

.warm-match-start {
    background-color: #3E606F;
}
.warm-match-end::after {
    background-color: #3E606F;
}

.cold-match-start {
    background-color: #193441;
}
.cold-match-end::after {
    background-color: #193441;
}

.job-card {
}

.job-card__inner {
    font-size: 90%;
    padding: 20px;
    min-height: 160px;
    background-color: #eee;
    color: #333333;
}
